.island-sky {
  background: linear-gradient(180deg, #3aa7dc 0%, #2a8dc7 35%, #1b5d83 70%, #114059 100%);
}

.ship-rock {
  animation: shipRock 5s ease-in-out infinite;
  transform-origin: 50% 70%;
}

.leaf-sway-left {
  animation: leafSwayLeft 4.5s ease-in-out infinite;
  transform-origin: 20% 80%;
}

.leaf-sway-right {
  animation: leafSwayRight 5.2s ease-in-out infinite;
  transform-origin: 80% 85%;
}

@keyframes shipRock {
  0%, 100% {
    transform: translate(-50%, -50%) rotate(-2deg);
  }
  50% {
    transform: translate(-50%, -50%) rotate(2deg);
  }
}

@keyframes leafSwayLeft {
  0%, 100% {
    transform: translate(-50%, -50%) rotate(-4deg);
  }
  50% {
    transform: translate(-50%, -50%) rotate(3deg);
  }
}

@keyframes leafSwayRight {
  0%, 100% {
    transform: translate(-50%, -50%) rotate(3deg);
  }
  50% {
    transform: translate(-50%, -50%) rotate(-4deg);
  }
}
